{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h3 class="mb-4 text-center">Вход</h3>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors[0] }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% if form.password.errors %}
                    <div class="text-danger">{{ form.password.errors[0] }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
        </form>
    </div>
</div>
{% endblock %}