{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 700px;">
  <h3 class="mb-4">{% if edit %}Редактирование{% else %}Добавление{% endif %} объекта</h3>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-4 mb-3">{{ form.cat.label() }}{{ form.cat(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.status.label() }}{{ form.status(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.district.label() }}{{ form.district(class="form-select", multiple="multiple") }}</div>
      <div class="col-md-4 mb-3">{{ form.plan.label() }}{{ form.plan(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.m.label() }}{{ form.m(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.s.label() }}{{ form.s(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.s_kh.label() }}{{ form.s_kh(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.blkn.label() }}{{ form.blkn(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.p.label() }}{{ form.p(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.condition.label() }}{{ form.condition(class="form-select") }}</div>
      <div class="col-md-4 mb-3">{{ form.price.label() }}{{ form.price(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.floor.label() }}{{ form.floor(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.total_floors.label() }}{{ form.total_floors(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.phone.label() }}{{ form.phone(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.street.label() }}{{ form.street(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.d_kv.label() }}{{ form.d_kv(class="form-control") }}</div>
      <div class="col-md-4 mb-3">{{ form.year.label() }}{{ form.year(class="form-control") }}</div>
      <div class="col-12 mb-3">{{ form.description.label() }}{{ form.description(class="form-control", rows=3) }}</div>
      <div class="col-12 mb-3">{{ form.photos.label() }}{{ form.photos(class="form-control", multiple="multiple") }}</div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('routes.properties') }}" class="btn btn-secondary ms-2">Отмена</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
